footer {
    text-align: center;
    font-style: italic;
    margin-top: 30px;
}

header {
    text-align: center;
}

.atributo {
    width: 450px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    margin-top: 30px;
}

.modificador{
    border: solid 1px red;
    width: 60px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    font: normal 10pt arial;
    box-shadow: 2px 2px 5px black;
}

.valor-mod {
    font: normal 20pt arial;
    margin-top: 15px;
}

.valor-atr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}

.inputAtr {
    width: 30px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    border: solid 1px red;
    box-shadow: 2px 2px 5px black;   
}

.nome-personagem {
    border: solid 1px red;
    box-shadow: 2px 2px 5px black;
    width: 450px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
}

.nome-personagem legend {
    background-color: white;
    padding: 0 5px;
    font: bold 13px arial;
}

.input-nome {
    width: 460px;
    border-color: transparent;
    font: bold 16px arial;
}

.caracteristica {
    margin: 0 auto;
    width: 500px;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.caract-criatura {
    border: solid 1px red;
    box-shadow: 2px 2px 5px black;
    margin-top: 30px;
    border-radius: 10px;
    width: 70px;
}

.caract-criatura legend {
    background-color: white;
    padding: 0 5px;
    font: bold 13px arial;
}

.select-criatura {
    width: 160px;
    font: bold 13px arial;
    border: solid 1px white ;
}

.input-nivel {
    width: 50px;
    border-color: transparent;
    font: bold 13px arial;
}

.countPVePM {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    margin: 0 auto;
    width: 500px;
    margin-top: 40px;
}

.contador {
    border: solid 1px red;
    border-radius: 10px;
    height: 50px;
    width: 160px;
    box-shadow: 2px 2px 5px black;
    
    position: relative;
    display: flex;
    align-items: center;
}

.deslocamento {
    display: flex;
    border: solid 1px red;
    border-radius: 10px;
    height: 50px;
    width: 70px;
    box-shadow: 2px 2px 5px black;
}

.input-desloc{
    width: 30px;
    height: 30px;
    border-color: transparent;
    font: bold 25px arial;
    
}

.metros {
    font: bold 13px arial;
}

.contador legend {
    background-color: white;
    padding: 0 5px;
    font: bold 13px arial;
}

.deslocamento legend {
    background-color: white;
    padding: 0 5px;
    font: bold 13px arial;
}

.divisor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    border-right: 1px solid red;
    box-shadow: 2px 2px 5px black;
    height: 45px;
}

.ponto-vida {
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
    margin-left: 15px;
}

.ponto-mana {
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
    margin-left: 2px;
}

.icone-ataque {
    width: 20px;
    margin-left: 5px;
}


.ataques {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px red;
    box-shadow: 2px 2px 5px black;
    width: 470px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
}

.ataques legend {
    background-color: white;
    padding: 0 5px;
    font: bold 13px arial;
}

.tipo-ataque {
    width: 20px;
    font: bold 13px arial;
    border: solid 1px white ;
}

.nome-ataque {
    margin-left: 5px;
    border: transparent;
    border-bottom: solid 1px red;
    font: bold 13px arial;
    width: 155px;
    text-align: center;
}

.num-dano {
    width: 15px;
    margin-left: 10px;
    border: transparent;
    font: bold 13px arial;
    border-bottom: solid 1px red;
    text-align: center;
}


.barra {
    font: bold 15px arial;
    border-bottom: solid 1px red;
    line-height: 20px;
}

.tipo-dado { 
    border: solid 1px white;
    font: bold 13px arial;
    border-bottom: solid 1px red;
}

.critico { 
    width: 15px;
    margin-left: 10px;
    border: transparent;
    border-bottom: solid 1px red;
    font: bold 13px arial;
    text-align: center;
}

.mult-critico { 
    width: 10px;
    border: transparent;
    border-bottom: solid 1px red;
    font: bold 13px arial;
    text-align: center;
}

.cd-teste { 
    border: solid 1px white;
    font: bold 13px arial;
    border-bottom: solid 1px red;
    width: 15px;
}

.span-cd {
    font: bold 12px arial;
    border-bottom: solid 1px red;
    margin-left: 10px;
    line-height: 20px;
}

.adicionar{
    display: flex;
    border: solid 1px red;
    box-shadow: 2px 2px 5px black;
    border-radius: 100px;
    margin: auto;
    margin-top: -8px;
}

.menor-espacamento {
    margin-top: 5px;
  }